DOMAIN=mp.example.ru
DB_PASSWORD=смени_на_длинный_пароль
YANDEX_SECRET=секретный_ключ_из_Консоли_Яндекс_Игр
ALLOWED_ORIGINS=https://yandex.ru,https://games.s3.yandex.net,https://app-XXXXXX.games.s3.yandex.net
